.main {
  height: 60%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 30%;
  grid-template-rows: 30% 40% 30%;
}

.main,
.weather-temp-main,
.weather-temp {
  justify-content: center;
  align-items: center;
}

.weather-conditions,
.weather-temp-main,
.weather-temp,
.weather-update-time {
  display: flex;
}

.weather-conditions {
  grid-column: span 2;
  justify-content: left;
  align-items: center;
}
.weather-conditions img {
  width: 32%;
}
.weather-conditions span {
  text-transform: capitalize;
  font-size: 2rem;
}

.weather-temp-main {
  grid-column: span 1;
  flex-direction: column;
}
.weather-temp-main .temp-main {
  font-size: 6rem;
}
.weather-temp-main .temp-feels {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.3rem;
}

.weather-temp {
  grid-column: span 1;
  flex-direction: column;
}
.weather-temp .temp {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.7rem;
}
.weather-temp .temp-line {
  width: 50%;
  margin: 5% 0;
  border: solid 1px rgba(255, 255, 255, 0.3);
}

.weather-update-time {
  grid-column: span 2;
  justify-content: flex-end;
  align-items: flex-end;
}

.weather-update-time span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
}
