button {
  transform: rotate(270deg);
  background: none;
  border: none;
  font-size: 3rem;
}

.main-weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-icon {
  width: 10rem;
  height: 10rem;
}

.weather-text {
  text-align: center;
  font-size: 2rem;
}
