.main {
  height: 50%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 2rem;
}

.main,
.weather-temp-main,
.weather-temp {
  justify-content: center;
  align-items: center;
}

.weather-conditions,
.weather-temp-main,
.weather-temp {
  display: flex;
}

.weather-conditions {
  grid-column: span 2;
  justify-content: left;
  align-items: center;
}
.weather-conditions img {
  width: 32%;
}
.weather-conditions span {
  text-transform: capitalize;
  font-size: 2rem;
}

.weather-temp-main {
  grid-column: span 1;
  flex-direction: column;
}
.weather-temp-main .temp-main {
  font-size: 6rem;
}
.weather-temp-main .temp-feels {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.1rem;
}

.weather-temp {
  grid-column: span 1;
  flex-direction: column;
}
.weather-temp .temp {
  font-size: 1.4rem;
}
.weather-temp .temp-line {
  width: 100%;
  margin: 10% 0;
  border: solid 1px rgba(0, 0, 0, 0.6);
}
