.main-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.current-weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  width: 100%;
}

.icon-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.current-temp {
  height: 50%;
  background-color: antiquewhite;
}

.weather-icon {
  width: 15rem;
  height: 15rem;
}

.weather-text {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.temp-box {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  width: 100%;
  flex: 1;
  align-items: center;
}

.temp {
  display: flex;
  align-items: first baseline;
}

.temp-icon {
  width: 4rem;
  height: 4rem;
  padding: 0 0.5rem;
}

.temp-main {
  font-size: 4rem;
  font-weight: 600;
}

.temp-feels {
  font-weight: 600;
}

.temp-max {
  color: red;
  font-weight: 600;
}

.temp-min {
  color: blue;
  font-weight: 600;
}

.small {
  font-size: 1rem;
}
