button {
  transform: rotate(270deg);
  background: none;
  border: none;
  font-size: 50px;
}

.main-weather {
  display: flex;
  align-items: center;
}

.weather-icon {
  width: 10rem;
  height: 10rem;
}
