.header {
  width: 100%;
  height: 40%;
  justify-content: space-between;
}

.header,
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  font-size: 2.5rem;
}

.line {
  width: 30%;
  margin-top: 10%;
  border: solid 1px black;
}

.date {
  font-size: 1.2rem;
}

.time {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Orbitron";
  font-size: 3.5rem;
}
