.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location {
  font-size: 2.5rem;
}

.date {
  font-size: 1.2rem;
}

span {
  margin: 1% 0;
}
