@import url("https://fonts.googleapis.com/css?family=Jua&display=swap");

body {
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.app-header {
  flex: 1;
}

.app-main {
  flex: 5;
}

.app-footer {
  flex: 1;
}
