@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;500;600&family=Orbitron:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.3vw;
}

body {
  background: url("https://cdn.pixabay.com/photo/2018/05/30/00/24/thunderstorm-3440450_960_720.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-size: 3vh;
  font-family: "Asap Condensed", Arial, Helvetica, sans-serif;
}

#root {
  height: inherit;
}

.App {
  display: flex;
  padding: 10% 35%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: inherit;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 4vw;
  }
  .App {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 3.5vw;
  }
  .App {
    padding: 5%;
  }
}
