@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;500;600&family=Orbitron:wght@700&display=swap");

body {
  background: url("https://cdn.pixabay.com/photo/2018/05/30/00/24/thunderstorm-3440450_960_720.jpg");
  background-size: cover;
  font-size: 2vw;
  font-family: "Asap Condensed", Arial, Helvetica, sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 65%;
  margin: 5%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.6);
}
